$sticky-background-color: #e8e285;
$footer-border: rgba(155, 155, 135, 0.20);
$menu-background-color: #313131;
$menu-light: #474747;
$textarea-font-color: #363636;
$menu-nav-color: #CCC7C7;
$menu-hover: #FAC147;
$menu-item-color: #ef5c6e;
$settings-color: #f5f7b0;
// #ef5c6e

// Find out what these colours are for...
$sticky-color-blue: #c1edf5;
$sticky-color-pink: #eec2c2;
$sticky-color-yellow: #e8e285;
$sticky-color-green: #c2e7a1;